* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.app {
  padding: 16px;
}


.search-bar {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
}

.search-button {
  padding: 8px 16px;
}




.content {
  display: flex;

   gap: 16px;
}

.filters {
  border: 1px solid #ddd;
  width: 200px;  
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.results {
  border: 1px solid #ddd;
  padding: 12px;
  height: 800px;
  flex: 1;            
  display: flex;
  flex-direction: column;
}

.results h3 {
  margin: 0 0 8px 0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin: 4px;
  height: calc(100% - 16px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  
}

.name {
  font-size: 14px;
   color: #132570ff;

}

.category {
  font-size: 12px;
  color: #2a80beff;
}

.card-footer {
  text-align: right;
  font-size: 13px;
  color: #333;
}
